@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?uhw9zh');
	src:url('../fonts/icomoon.eot?#iefixuhw9zh') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?uhw9zh') format('truetype'),
		url('../fonts/icomoon.woff?uhw9zh') format('woff'),
		url('../fonts/icomoon.svg?uhw9zh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e602";
}
.icon-star-empty:before {
	content: "\e600";
}
.icon-star-full:before {
	content: "\e601";
}
.icon-g-plus:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-calendar:before {
	content: "\e606";
}
body{
	font-family: verdana, sans-serif;
	font-size: 16px;
}

.page-header{
	background-color: #232323;
}

.page-header__menu{
	float: left;
	padding: 0.7em;
}

.page-header__menu .page-header__link{
	color: #B1B1B1;
	text-decoration: none;
}

.page-header__menu .page-header__link span{
	font-size: 1.4em;
}

.page-header__calendar{
	float: right;
	padding: 0.7em;
}

.page-header__calendar .page-header__link{
	color: #B1B1B1;
	text-decoration: none;
}

.page-header__calendar .page-header__link span{
	font-size: 1.4em;
}

.page-header__logo .page-header__img{
	margin: 0;
	text-align: center;
	padding: 1em;
}

.page-header__logo .page-header__img img{
	width: 9.75em;
}

.main-content__position{
	margin: 0;
	padding: 0;
}

.main-content__position .main-content__list{
	list-style: none;
}
/*contenido principal*/
.main-content__img{
	margin: 0;
}

.main-content__img .main-content__video{
	width: 100%;
}
/*
.main-content .main-content__logo{
	margin: 0;
}

.main-content__logo .main-content__icon{
	width: 15%;
	height: 15%;
	text-align: center;
}*/

.main-content__article{
	margin: 0;
	padding: 1em;
}

.main-content__article .main-content__title{
	 font-size: 1.5em;
	 font-weight: 200;
	 margin: 0;
 }

.main-content__article .main-content__title .main-content__title--highlight{
	 font-size: 2em;
	 color: #232323;
	 display: block;
 }

.main-content__article .main-content__article p{
	margin: 0;
}

.social-menu{
	width: 240px;
	background-color: #0B81C5;
	border-radius: 0.3em;
	margin: 0 auto;
}

.social-list{
	margin: 0;
	padding: 0;
	text-align: center;
}

.social-menu .social-list__item .social-menu__title{
	color: #FFFFFF;
	margin: 0;

}

.social-list .social-list__item{
	display: inline-block;
	list-style: none;
	padding: 0 0.2em;
}

.social-menu .social-list .social-list__item .social-list__link{
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	display: block;
}

.social-list .social-list__item .social-list__link span{
	line-height: 1.5em;
}

.separator{
	height: 5px;
	background-color: #ECECEC;
}

.section{
	margin: 0;
	padding: 1em 2.5em 2.5em 2.5em;
}

.post-content .post-content__title{
	margin: 0.3em 0 0.3em 0;
	font-size: 2.3em;
	font-weight: 200;
	text-align: center;
}
.post-content__title .post-content--color{
	color: #0078B8;
}

.post-content__list{
	margin: 0;
	padding: 0;
}

.post-content__list .post-content__item{
	list-style: none;
	padding: 1em;
	border-radius: 0.3em;
	margin: 1.5em;
}

.post-content__article .post-content__img{
	margin: 0;
}

.post-content__article .post-content__img img{
	width: 100%;
}

.post-content__article .post-content__article-title{
	font-size: 1.2em;
	font-weight: 200;
	margin: 0 auto;
}

.post-content__article .post-content__content{
	margin: 0;
}

.post-content__article .post-content__icon{
	text-align: center;
	margin-top: 0.3em;
}

.post-content__article .post-content__icon .post-content__star img{
	width: 6em;
}

.page-footer{
	background-color: #232323;
}

.page-footer .page-footer__click-logo{
	margin: 0;
}

.page-footer .page-footer__click-logo a{
	text-align: center;
	display: block;
}

.page-footer__click-logo a img{
	width: 3.75em;
}

.page-footer .page-footer__click-logo .click-logo__position{
	margin-top: -27px;
}

.social-link__list{
	color: white;
	margin: 0;
	padding: 0.5em 0;
	text-align: center;
}

.social-link__list .social-link__item{
	display: inline-block;
	list-style: none;
	padding: 0 0.7em;
	font-size: 1.5em;
}

.social-link__list .social-link__item .social-link__link{
	text-decoration: none;
	font-size: 1.5em;
	color: white;
}

.contacto-breakpoint{
	color: white;
	font-size: 2.5em;
	text-align: center;
}

.contacto-breakpoint p{
	margin: 0;
	padding: 0.5em;
}

@media only screen and (min-width: 20em){
	.contacto-breakpoint{
		display: none;
	}
	.social-header{
		display: none;
	}
}
@media only screen and (min-width: 40em){
	.main-content__img .main-content__video {
		/*width: 30em;
		height: 17em;*/
		margin: 1em;
	}

	.main-content__article {
	    margin: 1em;

	}
	.main-content__position .main-content__list{
		display: inline-block;
		width: 45%;
	}
	.social-link__list{
		display: block;
	}
	.contacto-breakpoint{
		display: none;
	}
}

@media only screen and (min-width: 47em){
	.contenedor{
		max-width: 90em;
		margin: 0 auto;
	}

	.page-header__breakpoint{
		font-size: 0;
	}

	.page-header__breakpoint .page-header__list{
		display: inline-block;
		width: 20%;
	}

	.post-content .post-content__list ul{
		font-size: 0;
	}

	.post-content .post-content__list > li{
		display: inline-block;
		width: 25%;
		font-size: 1rem;
		background-color: #ECECEC;
	}

	.contacto-breakpoint{
		display: block;
	}
	.social-link__list{
		display: none;
	}
}

	@media only screen and (min-width: 56em){
		.social-header{
			text-align: right;
			display: block;
		}

		.social-header__list{
			color: white;
			padding: 0;
			margin: 0;
			float: right;
			margin-top: -40px;
    		margin-right: 20px;
		}

		.page-header__calendar{
			display: none;
		}

		.social-header__list .social-header__item{
			display: inline-block;
			list-style: none;
			padding: 0.3em;
			font-size: 0.5em;
		}

		.social-header__item .social-header__link{
			text-decoration: none;
			font-size: 2em;
			color: white;
		}

		.social-link__list{
			display: none;
		}

		.contacto-breakpoint{
			display: block;
		}
	}
