/*fonts*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-sqecke');
	src:url('../fonts/icomoon.eot?#iefix-sqecke') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-sqecke') format('truetype'),
		url('../fonts/icomoon.woff?-sqecke') format('woff'),
		url('../fonts/icomoon.svg?-sqecke#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu-c:before {
	content: "\e602";
}
.icon-starempty-c:before {
	content: "\e600";
}
.icon-starfull-c:before {
	content: "\e601";
}
.icon-gplus-c:before {
	content: "\e603";
}
.icon-fb-c:before {
	content: "\e604";
}
.icon-twitter-c:before {
	content: "\e605";
}
.icon-calendar-c:before {
	content: "\e606";
}

body{
	font-family: tahoma, sans-serif;
	font-size: 16px;
}

.page__header{
	background-color: #232323;
	height: 62px;
}
/*titulo principal*/
.page__header .logo {
	padding: 1em;
	text-align: center;
	font-size: 1.2em;
	font-weight: lighter;
}
.logo-title{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}
.logo-title .logo-title--color{
	color: #0078B8;
}
/*iconos de menu principal*/
.logo-title .icon-menu-c{
	float: left;
	font-size: 1.5em;
	color: #B1B1B1;
}

.logo-title .icon-calendar-c{
	float: right;
	font-size: 1.5em;
	color: #B1B1B1;
}

.main-content__img{
	margin: 0;
}

.main-content__img img{
	width: 100%;
}

.main-content__article{
	margin: 0;
	padding: 1em;
}

.main-content__article .main-content__title{
	 font-size: 1.5em;
	 font-weight: 200;
	 margin: 0;
 }

.main-content__article .main-content__title .main-content__title--highlight{
	 font-size: 2em;
	 color: #232323;
	 display: block;
 }

.main-content__article .main-content__article p{
	margin: 0;
}

.social-menu{
	width: 250px;
	height: 40px;
	background-color: #0B81C5;
	border-radius: 0.3em;
	margin: 0 auto;
}

.social-list{
	margin: 0;
	padding: 0;
	text-align: center;
}

.social-menu .social-list__item .social-menu__title{
	color: #FFFFFF;
	margin: 0;
	line-height: 2.5em;
	padding: 0 0.2;
}

.social-list .social-list__item{
	display: inline-block;
	list-style: none;
	padding: 0 0.2em;
}

.social-menu .social-list .social-list__item .social-list__link{
	color: white;
	display: block;
	text-decoration: none;
	font-size: 1.5em;
}

.social-list .social-list__item .social-list__link span{
	line-height: 1.5em;
}
/*separador*/
.separator{
	height: 20px;
	color: black;
}
.section{
	margin: 0;
	padding: 1em 2.5em;
}
.new-content .new-content__title{
	margin: 0.5em 0 0.3em 0;
	font-size: 2.3em;
	font-weight: 200;
	text-align: center;
}
.new-content__title .new-content--color{
	color: #0078B8;
}
/*
.general-align{
	display: block;
}*/
.new-content__list{
	margin: 0;
	padding: 0;
}

.new-content__list .new-content__item{
	list-style: none;
}

.new-content__article .new-content__img{
	margin: 0;
}

.new-content__article .new-content__img img{
	width: 100%;
}

.new-content__article .new-content__main-title{
	font-size: 1.2em;
	font-weight: 200;
	margin: 0 auto;
}
/*stars*/
.new-content__item .new-content__article .new-content__icon{
	text-align: center;
	margin: 0.5em auto;
}
.new-content__article .new-content__main-title .new-content__content{
	margin: 0;
}

.new-content__item .new-content__article .new-content__star{
	text-decoration: none;
}

.new-content__item .new-content__article .new-content__star .icon-starfull-c{
	color: #0078B8;
	font-size: 1em;
}
/* popular*/
.new-content .popular-content__title{
	margin-bottom: 0.3em;
	font-size: 2.5em;
	font-weight: 200;
	text-align: center;
}
.popular-content__title .popular-content--color{
	color: #0078B8;
}
/*
.general-align{
	display: block;
}*/
.popular-content__list{
	margin: 0;
	padding: 0;
}

.popular-content__list .popular-content__item{
	list-style: none;
}

.popular-content__article .popular-content__img{
	margin: 0;
}

.popular-content__article .popular-content__img img{
	width: 100%;
}

.popular-content__article .popular-content__main-title{
	font-size: 1.2em;
	font-weight: 200;
	margin: 0 auto;
}

.popular-content__article .popular-content__main-title p{
	margin: 0;
}
/*stars*/
.popular-content__item .popular-content__article .popular-content__icon{
	text-align: center;
	margin: 0.5em auto;
}
.popular-content__article .popular-content__main-title .popular-content__content{
	margin: 0;
}

.popular-content__item .popular-content__article .popular-content__star{
	text-decoration: none;
}
.popular-content__item .popular-content__article .popular-content__star .popular .icon-starfull-c{
	color: #0078B8;
	font-size: 1em;
}

/*footer*/
.page__footer{
	background-color: #232323;
}

.page__footer .click-logo a{
	text-align: center;
	display: block;
}

.page__footer .click-logo .click-logo__ai{
	margin-top: -30px;
}

.last-content__list{
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
}

.last-content__list .last-content__item{
	display: inline-block;
	list-style: none;
	padding: 0 0.5em;
	font-size: 1.5em;
}

.last-content__list .last-content__item .last-content__link{
	text-decoration: none;
	font-size: 1.5em;
	color: white;
}
